body {
    background: rgb(131,58,180);
    background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }

  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    min-height: 500px;
    background: white;
    text-align: center;
    margin: 128px auto;
    border-radius: 5px;
  }

  h1 {
    margin: 32px 0;
    font-size: 45px;
  }

  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(105, 20, 204, 1) 0%,
      rgba(44, 114, 251, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }


.todo-input {
    padding: 15px 32px 15px 16px;
    border-radius: 20px 0 0 20px;
    border: 1px solid #dfe1e5;
    outline: none;
    width: 320px;
    background: transparent;
    border: 2px solid #149fff;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 60;
  }